# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
migrations/
# Environment Variables
.env

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# IDE
.vscode/
.idea/

# Logs
*.log